.header {
    position: fixed;
    top: 0;
    max-width: 720px;
    width: 100%;
    z-index: 500;
    width: 100%;
    height: 55px;
    color: #fff;
    cursor: default;
}

.header h1 {
    text-align: center;
    font-size: 0;
    font-weight: 300;
    line-height: 55px;
    background: url(../images/logo.png) no-repeat center;
}

.container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.inner_wrap {
    position: relative;
    display: block;
    padding: 55px 0;
    background: url(../images/header_bg.png) center no-repeat;
    width: 100%;
    height: 100%;
}

.tit {    
    position: relative;
    padding: 20px;
    cursor: default;
}

.tit h2{
    color: #fff;
    font-weight: 300;
    margin: 5px 0 10px;
}

.tit p {
    color: #fff;
    font-weight: 300;
}

.outer_wrap {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.main_menu {    
    display: block;
    position: absolute;
    top: -50px;
    padding: 20px;
    width: calc(100% - 40px);
    z-index: 1;
}

.item {
    background-color: #fff;
    width: calc(50% - 5px);
    border-radius: 5px;
    box-shadow: 0 7px 19px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
}

.item button {
    background: none;
    width : 100%;
    display: block;
    text-align : left;
}

.item p:first-child {
    padding: 20px;
    font-size: 1.0rem;
}

.item p:nth-child(2) {
    padding: 0 20px;
    font-size: 0.8rem;
}

.item img {
    padding: 20px;
}

.theater {
    float: left;
}

.movie {
    float: right;
}

.main_menu::after {
    clear: both;
}

.ad_banner {
    display: block;
    position: relative;
    padding-top: 220px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.ad_banner img {
    width: 100%;
    height: auto;
}

.bottom_menu {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    z-index: 999;
    max-width: 720px;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-top: 1px solid #e9e9e9;
}

.bottom_menu ul {
    position: relative;
    height: 100%;
    margin: 8px 0;
}

.bottom_menu button {
    background: none;
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 1.2rem;
    color: #393939 ! important;
}

.bottom_menu li span {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    line-height: 6.5;
    color: #393939 ! important;
}   

.bottom_menu li.click {
    color: #14b9cb ! important;;
}

.bottom_menu .home {
    height: 56px;
    background: url(../images/home.png) top no-repeat;
}

.bottom_menu .click.home{
    background: url(../images/home_ck.png) top no-repeat;
}

.bottom_menu .booking {
    height: 56px;
    background: url(../images/booking.png) top no-repeat;
}

.bottom_menu .click.booking{
    background: url(../images/booking_ck.png) top no-repeat;
}

.bottom_menu .twitter {
    height: 56px;
    background: url(../images/twitter.png) top no-repeat;
}

.bottom_menu .click.twitter{
    background: url(../images/twitter_ck.png) top no-repeat;
}
