@charset "utf-8";
@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Lato-Hairline;
    src: url('../fonts/Lato/Lato-Hairline.ttf'); 
  }
  
  @font-face {
    font-family: PlayfairDisplay-Italic;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf'); 
  }

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
}
    
body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: '돋움',sans-serif;
    display: block;
}


ol, ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

[type=checkbox], [type=radio] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.15;
}

button, input {
    overflow: visible;
}

label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button {
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 400;
    font-family: 'NanumBarunGothic','돋움',sans-serif;
}

button, select {
    text-transform: none;
}

a:focus, input:focus {
    outline: none;
}